import sphinx
import sphinx-autodoc-typehints
import sphinx-rtd-theme
import wheel
import black
import pytest
import coveralls
import flake8
import pytest-cov
import pytest-mock
import pre-commit
import arcade
import pyglet
import mypy
